<div class="tmp-menu" style="display: flex; gap: 8px">
  <button class="btn" data-category="Best Sellers Books">All books</button>
  <button class="btn-1" data-category="Advice How-To and Miscellaneous">
    Advice How-To and Miscellaneous
  </button>
  <button class="btn-2" data-category="Hardcover Nonfiction">
    Hardcover Nonfiction
  </button>
  <button class="btn-3" data-category="Picture Books">Picture Books</button>
</div>

<br />
<div class="container">
  <h1 class="category-name">
    Category <span class="category-name-accent">Name</span>
  </h1>
  <div class="book-list-container"></div>
</div>
<div id="arrowTop" hidden></div>
