<button class="btn">Load category (tmp-button)</button>
<div class="container">
  <h1 class="category-name">
    Category <span class="category-name-accent">Name</span>
  </h1>
  <ul class="book-list list">
    <li class="book-content" data-id="">
      <a href class="book-link link">
        <div class="book-img-wrapper">
          <img src="./images/book-img.jpg" alt="I WILL FIND YOU" width="180" />
        </div>
        <div class="book-wrapper">
          <h2 class="book-name">I WILL FIND YOU</h2>
          <p class="book-author">Harlan Coben</p>
        </div>
      </a>
    </li>
    <li class="book-content" data-id="">
      <a href class="book-link link">
        <div class="book-img-wrapper">
          <img src="./images/book-img.jpg" alt="I WILL FIND YOU" width="180" />
        </div>
        <div class="book-wrapper">
          <h2 class="book-name">I WILL FIND YOU</h2>
          <p class="book-author">Harlan Coben</p>
        </div>
      </a>
    </li>
    <li class="book-content" data-id="">
      <a href class="book-link link">
        <div class="book-img-wrapper">
          <img src="./images/book-img.jpg" alt="I WILL FIND YOU" width="180" />
        </div>
        <div class="book-wrapper">
          <h2 class="book-name">I WILL FIND YOU</h2>
          <p class="book-author">Harlan Coben</p>
        </div>
      </a>
    </li>
    <li class="book-content" data-id="">
      <a href class="book-link link">
        <div class="book-img-wrapper">
          <img src="./images/book-img.jpg" alt="I WILL FIND YOU" width="180" />
        </div>
        <div class="book-wrapper">
          <h2 class="book-name">I WILL FIND YOU</h2>
          <p class="book-author">Harlan Coben</p>
        </div>
      </a>
    </li>
    <li class="book-content" data-id="">
      <a href class="book-link link">
        <div class="book-img-wrapper">
          <img src="./images/book-img.jpg" alt="I WILL FIND YOU" width="180" />
        </div>
        <div class="book-wrapper">
          <h2 class="book-name">I WILL FIND YOU</h2>
          <p class="book-author">Harlan Coben</p>
        </div>
      </a>
    </li>
    <li class="book-content" data-id="">
      <a href class="book-link link">
        <div class="book-img-wrapper">
          <img src="./images/book-img.jpg" alt="I WILL FIND YOU" width="180" />
        </div>
        <div class="book-wrapper">
          <h2 class="book-name">I WILL FIND YOU</h2>
          <p class="book-author">Harlan Coben</p>
        </div>
      </a>
    </li>
    <li class="book-content" data-id="">
      <a href class="book-link link">
        <div class="book-img-wrapper">
          <img src="./images/book-img.jpg" alt="I WILL FIND YOU" width="180" />
        </div>
        <div class="book-wrapper">
          <h2 class="book-name">I WILL FIND YOU</h2>
          <p class="book-author">Harlan Coben</p>
        </div>
      </a>
    </li>
    <li class="book-content" data-id="">
      <a href class="book-link link">
        <div class="book-img-wrapper">
          <img src="./images/book-img.jpg" alt="I WILL FIND YOU" width="180" />
        </div>
        <div class="book-wrapper">
          <h2 class="book-name">I WILL FIND YOU</h2>
          <p class="book-author">Harlan Coben</p>
        </div>
      </a>
    </li>
    <li class="book-content" data-id="">
      <a href class="book-link link">
        <div class="book-img-wrapper">
          <img src="./images/book-img.jpg" alt="I WILL FIND YOU" width="180" />
        </div>
        <div class="book-wrapper">
          <h2 class="book-name">I WILL FIND YOU</h2>
          <p class="book-author">Harlan Coben</p>
        </div>
      </a>
    </li>
    <li class="book-content" data-id="">
      <a href class="book-link link">
        <div class="book-img-wrapper">
          <img src="./images/book-img.jpg" alt="I WILL FIND YOU" width="180" />
        </div>
        <div class="book-wrapper">
          <h2 class="book-name">I WILL FIND YOU</h2>
          <p class="book-author">Harlan Coben</p>
        </div>
      </a>
    </li>
    <li class="book-content" data-id="">
      <a href class="book-link link">
        <div class="book-img-wrapper">
          <img src="./images/book-img.jpg" alt="I WILL FIND YOU" width="180" />
        </div>
        <div class="book-wrapper">
          <h2 class="book-name">I WILL FIND YOU</h2>
          <p class="book-author">Harlan Coben</p>
        </div>
      </a>
    </li>
    <li class="book-content" data-id="">
      <a href class="book-link link">
        <div class="book-img-wrapper">
          <img src="./images/book-img.jpg" alt="I WILL FIND YOU" width="180" />
        </div>
        <div class="book-wrapper">
          <h2 class="book-name">I WILL FIND YOU</h2>
          <p class="book-author">Harlan Coben</p>
        </div>
      </a>
    </li>
    <li class="book-content" data-id="">
      <a href class="book-link link">
        <div class="book-img-wrapper">
          <img src="./images/book-img.jpg" alt="I WILL FIND YOU" width="180" />
        </div>
        <div class="book-wrapper">
          <h2 class="book-name">I WILL FIND YOU</h2>
          <p class="book-author">Harlan Coben</p>
        </div>
      </a>
    </li>
    <li class="book-content" data-id="">
      <a href class="book-link link">
        <div class="book-img-wrapper">
          <img src="./images/book-img.jpg" alt="I WILL FIND YOU" width="180" />
        </div>
        <div class="book-wrapper">
          <h2 class="book-name">I WILL FIND YOU</h2>
          <p class="book-author">Harlan Coben</p>
        </div>
      </a>
    </li>
    <li class="book-content" data-id="">
      <a href class="book-link link">
        <div class="book-img-wrapper">
          <img src="./images/book-img.jpg" alt="I WILL FIND YOU" width="180" />
        </div>
        <div class="book-wrapper">
          <h2 class="book-name">I WILL FIND YOU</h2>
          <p class="book-author">Harlan Coben</p>
        </div>
      </a>
    </li>
  </ul>
</div>
