<header class="header">
  <div class="container">
    <div class="left-col">
      <a href="./index.html" class="logo" aria-label="Logo link on page">
        <svg width="109" height="28" aria-label="Page Logo">
          <use href="./images/icons.svg#icon-logo"></use>
        </svg>
      </a>
      <ul class="menu">
        <li class="menu-item home">
          <a
            href="./index.html"
            class="menu-link"
            id="bestsellers"
            aria-label="Home"
            >Home</a
          >
        </li>
        <li class="menu-item">
          <a
            href="./shopping-list.html"
            class="menu-link"
            id="shop-page"
            aria-label="Shopping list"
            >Shopping list
            <svg width="20" height="20" aria-label="Basket icon">
              <use href="./images/icons.svg#icon-basket"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <div class="right-col">
      <div class="box-toggle">
        <div class="circle">
          <img src="./images/toggle.svg" alt="toggle" />
        </div>
      </div>
      <!-- <div class="avatar">
        <div class="avatar-box-img">
          <img
            src="./images/authorized-user.png"
            alt="user"
            width="37"
            height="37"
          />
        </div>
        <p class="avatar-title">Stephen</p>
        <svg width="23" height="26" class="icon">
          <use href="./images/icons.svg#icon-arrow-down"></use>
        </svg>
      </div> -->
      <button
        type="button"
        class="avatar-button btn-main-signup"
        id="sign-in-button-main"
        aria-label="Sign in button main page"
      >
        <span class="box-sign-up">
          <h2 class="sign-up-title">Sign up</h2>
          <svg
            width="23"
            height="26"
            class="icon"
            aria-label="Sign in button icon"
          >
            <use href="./images/icons.svg#icon-arrow-right"></use>
          </svg>
        </span>
      </button>
      <button
        type="button"
        class="mob-menu"
        id="mobile-burger"
        aria-label="Mobile menu button"
      >
        <svg
          width="26"
          height="26"
          class="hamburger"
          aria-label="Mobile menu icon open"
        >
          <use href="./images/icons.svg#icon-burger"></use>
        </svg>
        <svg
          width="26"
          height="26"
          class="close"
          aria-label="Mobile menu icon close"
        >
          <use href="./images/icons.svg#icon-close"></use>
        </svg>
      </button>
    </div>
  </div>
</header>
