<header class="header">

    <div class="container">
        <div class="left-col">
            <a href="./index.html" class="logo">
                <svg width="109" height="28">
                    <use href="./images/icons.svg#icon-logo">
                </svg>
            </a>
            <ul class="menu">
                <li class="menu-item"><a href="./index.html" class="menu-link active" id="bestsellers">Home</a></li>
                <li class="menu-item"><a href="./shopping-list.html" class="menu-link" id="shop-page">Shopping list
                        <svg width="20" height="20">
                            <use href="./images/icons.svg#icon-basket">
                        </svg>
                    </a></li>

            </ul>
        </div>
        <div class="right-col">
            <div class="box-toggle">
                <div class="circle">
                    <img src="./images/toggle.svg" alt="toggle">
                </div>
            </div>
            <button type="button" class="avatar-button">
                <div class="avatar">
                    <div class="avatar-box-img">
                        <img src="./images/authorized-user.png" alt="user" width="37" height="37">
                    </div>
                    <p class="avatar-title">Stephen</p>
                    <svg width="23" height="26" class="icon">
                        <use href="./images/icons.svg#icon-arrow-down">
                    </svg>
                </div>
                <div class="box-sign-up">
                    <h2 class="sign-up-title">Sign up</h2>
                    <svg width="23" height="26" class="icon">
                        <use href="./images/icons.svg#icon-arrow-right">
                    </svg>
                </div>
            </button>
            <button type="button" class="mob-menu">
                <svg width="28" height="28" class="hamburger">
                    <use href="./images/icons.svg#icon-burger">
                </svg>
                <svg width="28" height="28" class="close">
                    <use href="./images/icons.svg#icon-close">
                </svg>
            </button>

        </div>

    </div>

</header>