<header class="header">

    <div class="container">
        <div class="left-col">
            <a href="./index.html" class="logo">
                <svg width="109" height="28">
                    <use href="./images/icons.svg#icon-logo">
                </svg>
            </a>
            <ul class="menu">
                <li class="menu-item"><a href="./index.html" class="menu-link active">Home</a></li>
                <li class="menu-item"><a href="./category.html" class="menu-link">Shopping list
                        <svg width="20" height="20">
                            <use href="./images/icons.svg#icon-basket">
                        </svg>
                    </a></li>

            </ul>
        </div>
        <div class="right-col">
            <div class="box-toggle">
                <div class="circle">

                </div>
            </div>
            <div class="avatar">
                <div class="avatar-box-img">
                    <img src="./images/authorized-user.png" alt="user" width="37" height="37">
                </div>
                <p class="avatar-title">Stephen</p>
                <svg width="23" height="26" class="icon">
                    <use href="./images/icons.svg#icon-arrow-down">
                </svg>
            </div>

        </div>

    </div>

</header>