<div class="shopping-container container">
  <h1 class="shoping-list-header">
    Shopping <span class="shoping-list-white">List</span>
  </h1>
  <div class="shopping-list"></div>
  <div class="empty-shop-list">
    <p class="shop-list-text">
      This page is empty, add some books and proceed to order.
    </p>
    <!-- <img
              srcset="
                
              "
              src=""
              alt="books images"
              class="shopping-list-book-img"
            /> -->
  </div>
</div>
</div>