<section class="shopping-list">
  <div>
    <h1 class="shop-title">
      Shopping <span class="shop-title-white">List</span>
    </h1>

    <div class="shop-class-background js-shop-background">
      <p class="shop-text-background">
        This page is empty, add some books and proceed to order.
      </p>
      <div class="shop-img-backgr"></div>
    </div>

    <ul class="shop-list-books js-shop-list"></ul>
  </div>
</section>
<!-- лінк на js файл -->
<script type="module" src="./index.js"></script>
