#arrowTop {
  font-size: 2.5em;
  position: fixed;
  bottom: 30px;
  right: 20px;
  cursor: pointer;
  z-index: 2;
}
.btn-up {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-color: var(--accent-violet-clr);
  border: 4px solid rgba(79, 46, 232, 0.3);
}

.icon-up {
  fill: #ffffff;
}
