#arrowTop {
  position: fixed;
  bottom: 30px;
  right: 20px;
  cursor: pointer;
  z-index: 2;
  border: 5px solid rgba(79, 46, 232, 0.3);
  border-radius: 50%;
}
.btn-up {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 64px;
  height: 64px; */
  padding: 16px;
  border: none;
  border-radius: 50%;
  background-color: var(--accent-violet-clr);
}

.icon-up {
  transform: rotate(180deg);
  fill: #ffffff;
}
