.backdrop {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgb(46, 47, 66, 0.4);
  transition-property: visibility, opacity, pointer-events;
  /* opacity: 0; */

}

@media only screen and (min-width: 768px) {
  .backdrop-window {
    width: 579px;
    height: auto;
    overflow-y: hidden;
    padding: 40px;
    background-repeat: no-repeat;
    border: solid #000;
  }
}

.backdrop-window {
  position: absolute;
  width: 579px;
  /* height: 465px; */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 18px;
  background-color: #FFFFFF;
  background-repeat: no-repeat;
  border: solid #000;
}



.btn-close:hover {
  border: none;
  border: solid #8b00ff;
}

.btn-close {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  padding: 0;
  border-radius: 2px;
  border: 3px solid #ffffff;
  background: #ffffff;
  cursor: pointer;
}

.modal-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.8;
  letter-spacing: -0.4;
}

.modal-prgtho {
  margin-top: 20px;
  font-family: DM Sans;
  font-size: 14px;
  line-height: 1.8;
  letter-spacing: -0.4;
  font-weight: 400;
  color: black;
}

.modal-prg {
  /* margin-top: 10px; */
  font-style: italic;
  color: #B4AFAF;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.8;
  letter-spacing: -0.4;
}

.section-one {
  padding-left: 24px;
}

.modal-book {
  display: flex;
  justify-content: center;
  /* padding-top: 20px; */

}

.btn-add-submit {
  display: flex;
  width: 499px;
  height: 64px;
  background-color: #FFFFFF;
  border-radius: 40px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2.4;
  gap: 10px;
  letter-spacing: -.1em;
  margin: auto;
  text-transform: capitalize;
  color: var(--text-color);
  cursor: pointer;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  border-color: #4F2EE8;
}

.button-submit {
  padding-top: 40px;
}

.btn-remove-submit {
  display: flex;
  width: 499px;
  height: 64px;
  background-color: #FFFFFF;
  border-radius: 40px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2.4;
  gap: 10px;
  letter-spacing: -.1em;
  margin: auto;
  text-transform: capitalize;
  color: var(--text-color);
  cursor: pointer;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  border-color: #4F2EE8;
  /* opacity: 0; */
}

.modal-links {
  padding-top: 10px;
}

.links-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  align-content: center;
  flex-wrap: nowrap;
  gap: 20px;
}

.prg-final {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.4;
  letter-spacing: -0.4;
  align-items: center;
  color: #11111180;
  width: 324px;
  padding-top: 10px;
  margin: auto;
  opacity: 0;
}

.btn-add-submit:hover .btn-add-submit:focus {
  background: rgba(0, 0, 0, 0);
  color: #6a6680;
  box-shadow: inset 0 0 0 3px #674fd4;
}