.registration {
	position: fixed;
	top: 0;
	width: 100vw;
	height: 100vh;
	background-color: var(--accent-violet-clr);
	z-index: 999;
}

.registration::before {
	position: absolute;
	content: "";
	border-radius: 1421px;
	background: rgba(204, 236, 231, 0.5);
	filter: blur(539.7910766601562px);
	width: 1421px;
	height: 1421px;
	top: -918px;
	left: -846px;
}
.close-icon {
	stroke: var(--main-text-clr);
}
.close-icon:hover,
.close-icon:focus {
	stroke: var(--accent-violet-clr);
}
.registration-window {
	position: absolute;
	width: 579px;
	height: 516px;
	background: #f6f6f6;
	border: 2px solid var(--main-text-clr);
	border-radius: 18px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%) scale(1);
}

.close-btn {
	position: absolute;
	top: 24px;
	right: 24px;
	width: 28px;
	height: 28px;
	outline: 0;
	border: 0;
	background: 0 0;
}

.form {
	width: 500px;
	margin: auto;
	padding-top: 80px;
	margin-bottom: 20px;
}

.form-list {
	display: flex;
	flex-direction: column;
	gap: 28px;
	margin-bottom: 40px;
}

.input-container {
	position: relative;
}

.form-input {
	width: 100%;
	height: 64px;
	font-size: 18px;
	padding: 20px 40px;
	font-weight: 700;
	border: 2px solid var(--main-text-clr);
	border-radius: 40px;
}

.form-input::placeholder {
	color: var(--main-text-clr);
	position: absolute;
	font-size: 18px;
	font-weight: 700;
	line-height: 1.33;
	letter-spacing: -0.18px;
	text-transform: uppercase;
}

.form-icon {
	position: absolute;
	top: 20px;
	right: 32px;
}

.form-main-btn {
	color: #f3f3f3;
	font-size: 18px;
	font-weight: 700;
	line-height: 1.33;
	letter-spacing: -0.18px;
	text-transform: uppercase;
	border-radius: 40px;
	background: var(--main-text-clr);
	padding: 20px 173px;
	width: 100%;
	border: none;
	transition-duration: 200ms;
	transition-timing-function: linear;
}
.form-main-btn:hover,
.form-main-btn:focus {
	transform: scale(1.03);
}

.form-btns {
	display: flex;
	justify-content: center;
	gap: 20px;
}

.form-btns button {
	outline: 0;
	border: 0;
	background: 0 0;

	font-size: 18px;
	font-weight: 700;
	line-height: 1.33;
	letter-spacing: -0.18px;
	text-transform: uppercase;
	color: rgba(17, 17, 17, 0.5);
	text-decoration-line: underline;
	transition-duration: 200ms;
	transition-timing-function: linear;
}
.form-btns button:hover,
.form-btns button:focus {
	color: #4f2ee8;
	transform: scale(1.1);
}
.signin {
	height: 415px;
}
.form-btns .active-btn {
	color: #4f2ee8;
}
@media (max-width: 600px) {
	.registration-window {
		width: 95%;
	}
	.form {
		width: 87%;
	}
	.form-main-btn {
		width: 100%;
		padding: 20px;
	}
}
