@import url("./reset.css");
@import url("./best-sellers.css");
@import url("./book-list.css");
@import url("./category-list.css");
@import url("./charitable-foundation.css");
@import url("./header.css");
@import url("./list-book.css");
@import url("./menu.css");
@import url("./modal-window.css");
@import url("./registration.css");

:root {
	--main-text-clr: #111111;
	--dark-theme-clr: #202024;
	--lightgray-clr: #b4afaf;
	--accent-violet-clr: #4f2ee8;
	--accent-yellow-clr: #eac645;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

body {
	font-family: "DM Sans", sans-serif;
	color: var(--main-text-clr);
	overflow-x: hidden;
}
