.light-theme {
  --main-color: #f6f6f6;
  --text-color: var(--main-text-clr);
  --second-text-color: rgba(17, 17, 17, 0.6);
  --header-bac-col: #fff;
  --logo-text-color: #000000;
  --hover-color: var(--accent-violet-clr);
  --registr-window-col: #111;
  --registr-window-btn-col: #f3f3f3;
  --registr-window-btn-second-col: rgba(17, 17, 17, 0.5);
  --scrollbar-color: #e0e0e0;
}

.dark-theme {
  --main-color: var(--dark-theme-clr);
  --text-color: #fff;
  --second-text-color: rgba(255, 255, 255, 0.6);
  --header-bac-col: #111;
  --logo-text-color: #f3f3f3;
  --hover-color: var(--accent-yellow-clr);
  --registr-window-col: #f6f6f6;
  --registr-window-btn-col: #202024;
  --registr-window-btn-second-col: rgba(246, 246, 246, 0.5);
  --scrollbar-color: rgba(17, 17, 17, 0.6);
}

body {
  background-color: var(--main-color);
}

header.header {
  background-color: var(--header-bac-col);
  border-color: var(--text-color);
}

a.menu-link,
h1.category-name,
h3.item-title,
button.seemorebtn,
h2.book-name,
h2.modal-title,
p.modal-prgtho,
button.modal-btn,
h1.shopping-list-header {
  color: var(--text-color);
}

li.categories-item,
p.prg-final,
p.shop-list-text {
  color: var(--second-text-color);
}

li.categories-item-current {
  color: var(--hover-color);
}

.categories-container::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-color);
}

div.backdrop-window {
  background-color: var(--main-color);
  border-color: var(--text-color);
}

button.modal-btn {
  background-color: var(--main-color);
  border: 2px solid #4f2ee8;
}

svg.icon-close,
button.mob-menu svg,
a.menu-link svg {
  stroke: var(--text-color);
}

div.registration-window,
input.form-input {
  background-color: var(--main-color);
  border-color: var(--registr-window-col);
}

input.form-input::placeholder {
  color: var(--registr-window-col);
}

button.form-main-btn {
  background-color: var(--registr-window-col);
  color: var(--registr-window-btn-col);
}

div.form-btns button {
  color: var(--registr-window-btn-second-col);
}
